<div class="container-fluid">
  <div class="col-sm-12 row header-container">
    <div class="col-xs-8 col-md-8 col-xl-8">
      <h1>Users</h1>
    </div>

    <div class="col-xs-4 col-md-4 col-xl-4 header-buttons-container">
      <button class="btn btn-success" (mouseover)='addMenu.spinPlusIcon()' (mouseout)='addMenu.spinPlusIcon()'
              (click)="addMenu.changeVisibility(!addMenu.visible)">
        <i #plus class="fa fa-plus btn-icon rotate"
           [ngClass]="{'add-icon-active':addMenu.iconState,'add-icon-inactive':!addMenu.iconState}"></i>{{addMenu.getMenuButtonName()}}
      </button>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <add-user [adminUsers]='adminUsers' [(isVisible)]='addMenu.visible' (adminListChange)='syncAdminUsers()'></add-user>
  <div class="row">

    <table class="table table-hover ">
      <thead class="thead-inverse">
      <tr>
        <th class="collapsible">№</th>
        <th class="collapsible">LDAP</th>
        <th>Full name</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>

      <ng-container *ngFor="let user of adminUsers; let i = index;">
        <tr [ngClass]="editMenu.getClassByRow(i)" >
          <td class="collapsible" scope="row">{{i+1}}</td>
          <td class="collapsible">{{user.ldapName}}</td>
          <td>{{user.fullName}}</td>
          <td>         {{getRole(user.authorities)}}        </td>
          <td class="relative">
            <button *ngIf="getRole(user.authorities)!='SUPER ADMIN'" class="btn btn-secondary" (click)="editMenu.selectedRow(i)">
              <i class="fa fa-pencil-square"></i> Edit
            </button>
            <div *ngIf="getRole(user.authorities)=='SUPER ADMIN'">
              <img id="superman" [@heroState]="superman.state" (dblclick)="superman.fly('inactive')"
                   src="../../assets/images/superman.png"/>
              <img id="superman-logo" (dblclick)="superman.fly('active')" src="../../assets/images/superman-logo.png"/>
            </div>
          </td>
        </tr>

        <tr *ngIf="getRole(user.authorities)!='SUPER ADMIN'" [@editMenuState]="editMenu.getStateByRow(i)"
            class="edit-row table-active">
          <td class="collapsible"><!--Row number--></td>
          <td class="collapsible"><!--LDAP--></td>
          <td><!--Full Name--><div>{{user.fullName}}</div></td>
          <td class="text-xs-center" style="text-align: left">
            <!--Roles-->
            <div>
              <div class="text-xs-left d-inline-block">
                <div class="checkbox">
                  <label><input type="checkbox" [(ngModel)]="user.inventory"/> Inventory</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" [(ngModel)]="user.billing"/> Billing</label>
                </div>
              </div>
            </div>
          </td>
          <td>
            <!--Actions-->
            <div>
              <button type="button" class="btn btn-danger collapsible block-interval-sm"
                    (click)="deleteUser(user.ldapName)">
                <i class="fa fa-trash"></i> Delete
              </button>
            </div>
            <div>
              <button type="button" class="btn btn-success block-interval-sm" (click)="applyChanges(user)">
                <i class="fa fa-check-circle-o"></i> Apply
              </button>
            </div>
          </td>

        </tr>
      </ng-container>

      </tbody>
    </table>

  </div>
</div>

