<div class="container-fluid">
  <div class="col-sm-12 row header-container">
    <div class="col-xs-8 col-md-8 col-xl-8">
      <h1>Users</h1>
    </div>

    <div class="col-xs-4 col-md-4 col-xl-4 header-buttons-container">
      <button class="btn btn-success" (mouseover)='addMenu.spinPlusIcon()' (mouseout)='addMenu.spinPlusIcon()'
              (click)="addMenu.changeVisibility(!addMenu.visible)">
        <i #plus class="fa fa-plus btn-icon rotate"
           [ngClass]="{'add-icon-active':addMenu.iconState,'add-icon-inactive':!addMenu.iconState}"></i>{{addMenu.getMenuButtonName()}}
      </button>
    </div>
  </div>
</div>
<hr>
<add-user [adminUsers]='adminUsers' [(isVisible)]='addMenu.visible' [selected]="selected" (adminListChange)='syncAdminUsers()'></add-user>
<div class="container-fluid">

  <div class="row" [ngClass]="{'blur-background': addMenu.visible}">

    <table class="table table-hover ">
      <thead class="thead-inverse">
      <tr>
        <th class="collapsible">№</th>
        <th class="collapsible">LDAP</th>
        <th>Full name</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>

      <ng-container *ngFor="let user of adminUsers; let i = index;">
        <tr [ngClass]="editMenu.getClassByRow(i)" >
          <td class="collapsible" scope="row">{{i+1}}</td>
          <td class="collapsible">{{user.ldapName}}</td>
          <td>{{user.fullName}}</td>
          <td>         {{user.getRole()}}        </td>
          <td class="relative">
            <div *ngIf="!user.isSuperUser()">
              <button class="btn btn-secondary" (click)="editUser(user)">
                <i class="fa fa-pencil-square"></i>
              </button>
              <button type="button" class="btn btn-danger collapsible block-interval-sm"
                      (click)="deleteUser(user.ldapName)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div *ngIf="user.isSuperUser()">
              <img id="superman" [@heroState]="superman.state" (dblclick)="superman.fly('inactive')"
                   src="../../assets/images/superman.png"/>
              <img id="superman-logo" (dblclick)="superman.fly('active')"
                   src="../../assets/images/superman-logo.png"/>
            </div>
          </td>
        </tr>
      </ng-container>

      </tbody>
    </table>

  </div>
</div>

