<div [@addUserState]="visibility" class="container">
  <div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
      <div class="card card-block" >
        <div class="inline-centering">
          <label for="new-admin">LDAP user
            <select id="new-admin" [(ngModel)]="selectedModule" name="new-admin" class="">
            <option *ngFor="let user of ldapUsers" [ngValue]="user">{{user.ldapName}}</option>
            </select>
          </label>
          <br>
          <label for="inventory-manager">
            Inventory Manager <input id="inventory-manager"type="checkbox"/>
          </label>
          <div class="checkbox">
            <label>Billing Manger <input type="checkbox"/></label>
          </div>
        </div>
        <br>
        <div class="col-sm-12 form-buttons-container without-padding center-content">
          <button class="btn btn-success" type="submit" (click)="addAdminUser(selectedModule) ">Submit</button>
          <button class="btn btn-secondary" type="reset" (click)="hideAddUserComponent()"  >Cancel</button>
        </div>
      </div>
    </div>
    <div class="col-xl-3"></div>
  </div>
</div>


