.inline-centering{
  text-align: center;
}
select{
  height: 38px;
  margin: 0 20px;
  padding: .5rem 1rem;;
  border-radius: .25rem;
  background-color: #ffffff;
  border-color: #cccccc;
}
.without-padding{
  padding: 0 !important;
}
.center-content{
  text-align: center !important;
}
.dialog{
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
}
