<div [@addUserState]="visibility" class="container dialog">
  <div class="row">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
      <div class="card card-block">
        <div class="inline-centering">

          <form class="d-inline-block text-xs-left">
            <label for="new-admin">LDAP user
              <select id="new-admin" [(ngModel)]="selectedModule" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let user of ldapUsers" [ngValue]="user">{{user.ldapName}}</option>
              </select>
            </label>
            <br>
            <ng-container *ngIf="selectedModule">
              <div class="checkbox">
                <label >
                  <input  type="checkbox" [ngModel]="selectedModule.hasRole('Inventory')"
                                (ngModelChange)="selectedModule.setRole('Inventory',$event)"
                                [ngModelOptions]="{standalone: true}"/> Inventory Manager
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input  type="checkbox" [ngModel]="selectedModule.hasRole('Billing')"
                               (ngModelChange)="selectedModule.setRole('Billing',$event)"
                               [ngModelOptions]="{standalone: true}"/> Billing Manger
                </label>
              </div>
            </ng-container>
          </form>

        </div>
        <br>
        <div class="col-sm-12 form-buttons-container without-padding center-content">
          <button class="btn btn-success" type="submit" (click)="addAdminUser(selectedModule) ">Submit</button>
          <button class="btn btn-secondary" type="reset" (click)="hideAddUserComponent()">Cancel</button>
        </div>
      </div>
    </div>
    <div class="col-xl-3"></div>
  </div>
</div>


