<div class="col-sm-6 vm-card-container">
  <md-card class="vm-card-bg">
    <md-card-title-group>
      <img md-card-sm-image src="/assets/images/vending-256.png">
      <md-card-title>Machine 1</md-card-title>
      <md-card-subtitle>AE16SDAFASDDF456456ASD</md-card-subtitle>
      <md-card-subtitle>5x6</md-card-subtitle>
    </md-card-title-group>
    <md-card-actions>
      <div class="action-btn-container">
        <button class="btn btn-success"><i class="fa fa-edit btn-icon"></i>Edit</button>
        <button class="btn btn-success" [routerLink]="['/main/machines/fill']">
          <i class="fa fa-upload btn-icon"></i>Fill
        </button>
        <button class="btn btn-danger"><i class="fa fa-trash btn-icon"></i>Delete</button>
      </div>
    </md-card-actions>
  </md-card>
</div>
