<div class="col-lg-12 col-xl-6 vm-card-container">
  <md-card class="vm-card-bg">
    <md-card-title-group>
      <img md-card-sm-image src="/assets/images/vending-256.png">
      <md-card-title class="vm-card-title">{{machine.name}}</md-card-title>
      <md-card-subtitle>{{machine.size | machineSize}}</md-card-subtitle>
    </md-card-title-group>
    <md-card-actions>
      <div class="action-btn-container">
        <button class="btn btn-success" (click)="onEditMachine()"><i class="fa fa-edit btn-icon"></i>Edit</button>
        <button class="btn btn-success" [routerLink]="['/main/machines/fill', machine.id]">
          <i class="fa fa-upload btn-icon"></i>Fill
        </button>
        <button class="btn btn-danger" (click)="deleteMachine()"><i class="fa fa-trash btn-icon"></i>Delete</button>
      </div>
    </md-card-actions>
  </md-card>
</div>
