<div class="col-xs-12 col-sm-12 col-lg-12 col-xl-6 vm-card-container">
  <mat-card class="vm-card-bg">
    <mat-card-title-group>
      <img mat-card-sm-image src="/assets/images/vending-256.png">
      <mat-card-title class="vm-card-title">{{machine.name}}</mat-card-title>
      <mat-card-subtitle>{{machine.size | machineSize }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-actions>
      <div class="action-btn-container">
        <button class="btn btn-success" (click)="onEditMachine()"><i class="fa fa-edit btn-icon"></i>Edit</button>
        <button class="btn btn-success" [routerLink]="['/main/machines/fill', machine.id]">
          <i class="fa fa-upload btn-icon"></i>Fill
        </button>
        <button class="btn btn-success" [routerLink]="['/main/machines/history', machine.id]">
          <i class="fa fa-history btn-icon"></i>Load History
        </button>
        <button class="btn btn-danger" (click)="deleteMachine()"><i class="fa fa-trash btn-icon"></i>Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
