<div class="container-fluid">
  <div class="col-xs-12 col-md-12 col-xl-12 row header-container">
    <div class="col-xs-8 col-md-8 col-xl-8">
      <h2>Coins management</h2>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div>
    <div class="card card-primary card-inverse card-coins">
      <div class="card-header card-primary">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-basket fa-5x"></i>
          </div>
          <div class="col-xs-9 text-xs-right">
            <div class="card-title-parameters"><h4>Products</h4></div>
            <div><h5>3100</h5></div>
            <div><h5>coins</h5></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-success card-inverse card-coins">
      <div class="card-header card-success">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-basket fa-5x"></i>
          </div>
          <div class="col-xs-9 text-xs-right">
            <div class="card-title-parameters"><h4>People</h4></div>
            <div><h5>2500</h5></div>
            <div><h5>coins</h5></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-info card-inverse card-coins">
      <div class="card-header card-info">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-basket fa-5x"></i>
          </div>
          <div class="col-xs-9 text-xs-right">
            <div class="card-title-parameters"><h4>Change</h4></div>
            <div><h5>1600</h5></div>
            <div><h5>coins</h5></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
