.product-card {
  cursor: pointer;
}

.cell-card-row {
}

.card-block-full-height {
}

.machine-bg {
}

.bottom-container {
}

.top-row {
}

.center-row {
}

.receiver-box {
}

.bottom-row {
}

.cell-form {
}

@media (min-width: 768px) {
  .cell-card-row {
    height: 175px;
  }

  .card-block-full-height {
    height: 100%;
  }

  .machine-bg {
    padding: 20px;
    background-color: #4c4c6a;
    i.fa {
      color: #c2c4ce;
    }
  }

  .cell-form {
    background-color: #FFFFFF;
    margin: 0 20px;
    border-radius: .25rem;
  }

  .bottom-container {
    padding: 20px;
    height: 200px;
    background-color: #4c4c6a;
    .top-row {
      height: 50px;
    }
    .center-row {
      height: 100px;
      .receiver-box {
        height: 100px;
        background-color: #c2c4ce;
        border-radius: 10px;
      }
    }
    .bottom-row {
      height: 50px;
    }
  }
}
