<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Vending machine</h1>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="offset-sm-1 offset-lg-1 col-sm-10 col-lg-10">
    <div class="machine-bg">
      <div class="card-deck-wrapper">
        <div *ngFor="let row of machine.rows">
          <div class="card-deck cell-card-row">
            <div class="card product-card" *ngFor="let field of row.fields"
                 (click)="toggleState(field.internalId, row.id)"
                 [@selectDeselectCard]="applyCardState(field.internalId)">
              <div class="card-block-full-height centered">
                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="cell-form" [@showHideForm]="applyCellFormState(row.id)">
            <div class="card card-block">
              <form (ngSubmit)="submit()" [formGroup]="form">
                <div class="form-group row">
                  <label for="cell-id" class="col-sm-2 col-form-label">Cell ID</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="cell-id" formControlName="cellId">
                      <option *ngFor="let field of row.fields" [value]="field.internalId">{{field.internalId}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="product" class="col-sm-2 col-form-label">Product</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="product" formControlName="product">
                      <option>Pepsi</option>
                      <option>Cola</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="product-count" class="col-sm-2 col-form-label">Count</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="product-count" placeholder="Count"
                           formControlName="count">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 form-buttons-container">
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class="bottom-container row">
        <div class="top-row"></div>
        <div class="center-row col-sm-12 row">
          <div class="receiver-box offset-sm-3 col-sm-6"></div>
        </div>
        <div class="bottom-row"></div>
      </div>
    </div>
  </div>
</div>
