hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.product-card {
  cursor: pointer;
  text-align: center;
  vertical-align: bottom;
}

.product-img-container {
  height: 80%;
}

.product-img {
}

.product-add-icon {
  padding-top: 15%;
  color: #c2c4ce;
}
.cell-card-row {
}

.cell-info {
}

.machine-bg {
}

.bottom-container {
}

.top-row {
}

.center-row {
}

.receiver-box {
}

.bottom-row {
}

.cell-form {
}

.large-screen{
  display: block;
}

.small-screen{
  display: none;
}

@media (max-width: 768px) {
  .product-card {
    height: 175px;
  }

  .product-img {
    max-height: 100%;
    width: auto;
  }

  div.form-buttons-container button {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .cell-card-row {
    height: 175px;
  }

  .product-img {
    max-width: 100%;
    height: auto;
  }

  .product-add-icon {
    padding-top: 35%;
  }

  .machine-bg {
    padding: 20px;
    background-color: #4c4c6a;
    i.fa {
      color: #c2c4ce;
    }
  }

  .cell-form {
    background-color: #FFFFFF;
    margin: 0 20px;
    border-radius: .25rem;
  }

  .bottom-container {
    padding: 20px;
    height: 200px;
    background-color: #4c4c6a;
    .top-row {
      height: 50px;
    }
    .center-row {
      height: 100px;
      .receiver-box {
        height: 100px;
        background-color: #c2c4ce;
        border-radius: 10px;
      }
    }
    .bottom-row {
      height: 50px;
    }
  }
}

.affix-top{
  z-index: 10;
  background-color: #fff;
  position: fixed;
  left: 225px;
  right: 0;
  margin-top: -10px;
  padding: 10px 10px 0 10px;
}

.affix-bottom{
  margin-top: 80px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="affix-top"] {
    left: 0px;
  }

  .large-screen{
    display: none;
  }

  .small-screen{
    display: block;
  }

}
