<div class="affix-top">
  <div class="col-xs-12 col-md-12 col-xl-12 row header-container">
    <div class="col-xs-8 col-md-8 col-xl-8">
      <h2 class="page-header">{{machine?.name}}</h2>
    </div>
    <div class="col-xs-4 col-md-4 col-xl-4 header-buttons-container small-screen">
      <!--For desktop browser-->
      <button class="btn btn-success" [disabled]="changedFields.length == 0" (click)="applyChanges()">
        <i class="fa fa-check btn-icon"></i>Apply
      </button>
    </div>
    <div class="col-xs-4 col-md-4 col-xl-4 header-buttons-container large-screen">
      <!--For mobile browser-->
      <button class="btn btn-success" [disabled]="changedFields.length == 0" (click)="applyChanges()">
        <i class="fa fa-check btn-icon"></i>Apply changes
      </button>
    </div>
  </div>
  <div class="header-divider">
    <hr style="width: 100%">
  </div>
</div>
<div class="container-fluid affix-bottom">
  <div class="offset-sm-1 offset-lg-1 col-sm-10 col-lg-10">
    <div class="machine-bg">
      <div class="card-deck-wrapper">
        <div *ngFor="let row of machine?.rows">
          <div class="card-deck cell-card-row">
            <div id="cell{{field.internalId}}" class="card product-card card-icon-centered" *ngFor="let field of row.fields"
                 (click)="toggleState(field, row.id)"
                 [@selectDeselectCard]="applyCardState(field.internalId)">
              <div>
                <i class="fa fa-plus-circle fa-3x" *ngIf="field?.product == null"></i>
                <img [src]="createImageUrl(field.product)" class="img-fluid" *ngIf="field?.product != null">
              </div>
            </div>
          </div>

          <div id="row{{row.id}}"></div>
        </div>
      </div>

      <div #cellForm class="cell-form" [@showHideForm]="applyCellFormState()">
        <div class="card card-block">
          <form (ngSubmit)="submit()" [formGroup]="form">
            <div class="form-group row">
              <label for="cell-id" class="col-sm-2 col-form-label">Cell ID</label>
              <div class="col-sm-10">
                <input class="form-control" id="cell-id" formControlName="fieldInternalId" [value]="selectedField?.internalId">
              </div>
            </div>
            <div class="form-group row">
              <label for="product" class="col-sm-2 col-form-label">Product</label>
              <div class="col-sm-10">
                <select class="form-control" id="product" formControlName="product">
                  <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="product-count" class="col-sm-2 col-form-label">Count</label>
              <div class="col-sm-10">
                <input class="form-control" id="product-count" placeholder="1"
                       formControlName="count">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 form-buttons-container">
                <button class="btn btn-success" type="submit" [disabled]="!isFormValid()">Submit</button>
                <button class="btn btn-secondary" type="button" [disabled]="isClearCellDisabled()"
                        (click)="clearCell()">Clear cell</button>
                <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="bottom-container row">
        <div class="top-row"></div>
        <div class="center-row col-sm-12 row">
          <div class="receiver-box offset-sm-3 col-sm-6"></div>
        </div>
        <div class="bottom-row"></div>
      </div>
    </div>
  </div>
</div>
