.table td, th {
  text-align: center;
}

.col-form-label {
  padding-left: 0px;
  padding-right: 0px;
}

.card-block {
  padding: 10px;
}

div {
  .col-xl-2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-xl-3 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.horizontal-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
