.table td, th {
  text-align: center;
}

//.col-form-label {
//  margin-right: 20px;
//}

.card-block {
  padding: 10px;
}

.horizontal-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
