<div class="container-fluid">
  <div class="col-xs-12 col-md-12 col-xl-12 row header-container">
    <div class="col-xs-8 col-md-8 col-xl-8">
      <h2>Purchases</h2>
    </div>
    <div class="col-xs-4 col-md-4 col-xl-4 header-buttons-container">
      <button class="btn btn-success" (click)="showFilter()">
        <i class="fa fa-filter btn-icon"></i>Filter
      </button>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row" [hidden]="hideFilter">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="card card-block card-outline-success">
        <form (ngSubmit)="onSubmit()" class="form" [formGroup]="form">
          <div class="row">
            <div class="col-xl-3">
              <div class="form-group row">
                <label for="machines" class="col-sm-4 col-form-label">Machines</label>
                <div class="col-sm-8">
                  <select id="machines" class="form-control" formControlName="machine">
                    <option value="-1">All</option>
                    <option *ngFor="let machine of machines;" [ngValue]="machine.id">{{machine?.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="form-group row">
                <label for="date" class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-8">
                  <select id="date" class="form-control" formControlName="type">
                    <option value="Any">Any</option>
                    <option value="Today">Today</option>
                    <option value="Last week">Last week</option>
                    <option value="Last month">Last month</option>
                    <option value="Start-Due">Start-Due</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xl-3" [hidden]="hideStartDue">
              <div class="form-group row">
                <label for="start" class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-form-label">Start</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9">
                  <div class="input-group">
                    <input class="form-control" name="dp" formControlName="start" ngbDatepicker
                           #d="ngbDatepicker" id="start" [maxDate]="maxDate" (ngModelChange)="changeStart($event)">
                    <div class="input-group-addon" (click)="d.toggle()">
                      <i class="fa fa-calendar fa-lg"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3" [hidden]="hideStartDue">
              <div class="form-group row">
                <label for="due" class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-form-label">Due</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9">
                  <div class="input-group">
                    <input class="form-control" name="dp" formControlName="due" ngbDatepicker
                           #n="ngbDatepicker" id="due" [minDate]="minDate" (ngModelChange)="changeDue($event)">
                    <div class="input-group-addon" (click)="n.toggle()">
                      <i class="fa fa-calendar fa-lg"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 header-buttons-container">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-xl-12">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Account</th>
          <th>Product</th>
          <th>Price</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="purchases == ''">
          <th colspan=5>No data to display!</th>
        </tr>
        <tr *ngFor="let purchase of purchases; let i = index">
          <th scope="row">{{pageSize * page.number + i + 1}}</th>
          <td>{{purchase?.account}}</td>
          <td>{{purchase?.product}}</td>
          <td>{{purchase?.price}}</td>
          <td>{{purchase?.date | date:'longDate'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 horizontal-alignment">
      <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2 col-xl-1">
        <form [formGroup]="pageForm">
          <select id="size" class="form-control" style="height: 45px" formControlName="pageSize">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
          </select>
        </form>
      </div>
      <div class="col-xs-7 col-sm-9 col-md-10 col-lg-10 col-xl-5">
        <ngb-pagination [collectionSize]="page.totalElements" [maxSize]="5" [page]="page.number+1" [rotate]="true"
                        [pageSize]="page.size" (pageChange)="changePage($event)">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
