<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Create product</h1>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="card card-block" [ngClass]="formStyles.getCardOutlineClass()">
    <form (ngSubmit)="submit()" [formGroup]="form" enctype="multipart/form-data">
      <div class="row">
        <!--left column-->
        <div class="col-xl-6 col-xl-6">
          <div class="form-group row" [ngClass]="formStyles.getValidationClass('name')">
            <label for="product-name" class="col-xs-2 col-form-label">Name</label>
            <div class="col-xs-10">
              <input class="form-control" type="text" placeholder="Enter name" id="product-name" formControlName="name"
                     [ngClass]="formStyles.getValidationIcon('name')">
              <label [hidden]="formStyles.isValidOrPristine('name')" class="form-control-feedback pull-right">Enter valid
                name!</label>
            </div>
          </div>
          <div class="form-group row" [ngClass]="formStyles.getValidationClass('price')">
            <label for="product-price" class="col-xs-2 col-form-label">Price</label>
            <div class="col-xs-10">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-bitcoin fa-lg"></i></div>
                <input class="form-control" type="text" placeholder="Enter price" id="product-price"
                       formControlName="price" [ngClass]="formStyles.getValidationIcon('price')">
              </div>
              <label [hidden]="formStyles.isValidOrPristine('price')" class="form-control-feedback pull-right">Enter valid
                price!</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="product-category" class="col-xs-2 col-form-label">Category</label>
            <div class="col-xs-10">
              <select id="product-category" class="form-control" formControlName="category">
                <option *ngFor="let category of categories;" [ngValue]="category">{{category?.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="product-description" class="col-xs-2 col-form-label">Description</label>
            <div class="col-xs-10">
              <textarea class="form-control" id="product-description" rows="3"
                        placeholder="Enter description" formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <!--right column-->
        <div class="col-xl-6 col-xl-6">
          <div align="center" class="form-group row">
            <img height="205px" width="205px"
                 [src]="imageSrc"
                 (load)="handleImageLoad()"
                 [class.loaded]="imageLoaded">
          </div>
          <div class="form-group row">
            <div class="input-group col-xs-12">
              <span class="input-group-addon"><i class="fa fa-picture-o fa-lg"></i></span>
              <input type="text" class="form-control" readonly [value]="imageName">
              <label class="input-group-btn">
                    <span class="btn btn-info">
                      <i class="fa fa-search btn-icon"></i>Browse
                      <input type="file" style="display: none;" (change)="handleInputChange($event)" accept="image/*">
                    </span>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 form-buttons-container">
              <button class="btn btn-success" [disabled]="!form.valid" type="submit">Submit</button>
              <button class="btn btn-secondary" type="button" (click)="reset()">Clean</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
