a.fa {
  position: absolute;
  z-index: 1000;
  top: 30%;
  right: 2%;
  cursor: pointer;
}

a.wrapper-link {
  background: transparent;
  color: #373a3c;
  :hover {
    color: #373a3c;
    text-decoration: none;
  }
}

div.card-footer {
  i {
    color: red;
  }
  i:hover {
    color: #710909;
  }
}

.affix-top {
  z-index: 10;
  background-color: #fff;
  position: fixed;
  left: 225px;
  right: 0;
  margin-top: -10px;
  padding: 10px 10px 0 10px;
}

.affix-bottom {
  margin-top: 80px;
}

.right-inner-addon {
  position: absolute;
  width: 70%;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="affix-top"] {
    left: 0px;
  }
  a.fa {
    right: 7%;
  }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
  a.fa {
    right: 8%;
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  a.fa {
    right: 10%;
  }
}

@media screen and (max-width: 480px) {
  .header-container {
    display: block;
  }
  .affix-bottom {
    margin-top: 115px;
  }
  .right-inner-addon {
    width: 60%;
  }
}

@media screen and (min-width: 340px) and (max-width: 568px) {
  .col-sm-8 {
    width: 81%;
  }
}

@media screen and (max-width: 568px) and (min-width: 340px) {
  .col-sm-8 {
    width: 100%;
  }
}

@media screen and (min-width: 361px) and (max-width: 1080px) {
  .right-inner-addon {
    padding-right: 10px;
  }
  .right-inner-addon i {
    padding-right: 15px;
  }
  a.fa {
    right: 7%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1560px) {
  .col-xl-7 {
    width: 100%;
  }
  .col-xl-5 {
    width: 70%;
  }
  a.fa {
    right: 7%;
  }
}

@media screen and (min-width: 1560px) and (max-width: 1920px) {
  .col-xl-7 {
    width: 100%;
  }
  .col-xl-5 {
    width: 70%;
  }
  a.fa {
    right: 2%;
  }
}
