a.wrapper-link {
  background: transparent;
  color: #373a3c;
  :hover{
    color: #373a3c;
    text-decoration: none;
  }
}

div.card-footer {
  i {
    color: red;
  }
  i:hover {
    color: #710909;
  }
}
