<div class="container-fluid">
  <div class="row col-sm-12 header-container">
    <div class="col-sm-4">
      <h1 class="page-header">Products</h1>
    </div>
    <div class="col-sm-8 header-buttons-container">
      <button class="btn btn-success" [routerLink]="['/main/products/add']">
        <i class="fa fa-plus btn-icon"></i>Create
      </button>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <product-item></product-item>
  <product-item></product-item>
  <product-item></product-item>
  <product-item></product-item>
  <product-item></product-item>
  <!--<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="#" class="wrapper-link">
        <div class="card">
          <div class="card-img-top">
            <img src="/assets/images/default-product-350x350.jpg" style="width: 100%; height: 100%">
          </div>
          <div class="card-footer">
            <h4 class="card-title" style="margin: 0px">Coca-cola
              <a class="pull-right" href="/remove"><i class="fa fa-trash"></i></a>
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="#" class="wrapper-link">
        <div class="card">
          <div class="card-img-top">
            <img src="/assets/images/default-product-350x350.jpg" style="width: 100%; height: 100%">
          </div>
          <div class="card-footer">
            <h4 class="card-title" style="margin: 0px">Vafli
              <a class="pull-right" href="/remove"><i class="fa fa-trash"></i></a>
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="#" class="wrapper-link">
        <div class="card">
          <div class="card-img-top">
            <img src="/assets/images/default-product-350x350.jpg" style="width: 100%; height: 100%">
          </div>
          <div class="card-footer">
            <h4 class="card-title" style="margin: 0px">Nuts
              <a class="pull-right" href="/remove"><i class="fa fa-trash"></i></a>
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="#" class="wrapper-link">
        <div class="card">
          <div class="card-img-top">
            <img src="/assets/images/default-product-350x350.jpg" style="width: 100%; height: 100%">
          </div>
          <div class="card-footer">
            <h4 class="card-title" style="margin: 0px">Snickers
              <a class="pull-right" href="/remove"><i class="fa fa-trash"></i></a>
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="#" class="wrapper-link">
        <div class="card">
          <div class="card-img-top">
            <img src="/assets/images/default-product-350x350.jpg" style="width: 100%; height: 100%">
          </div>
          <div class="card-footer">
            <h4 class="card-title" style="margin: 0px">Promises
              <a class="pull-right" href="/remove"><i class="fa fa-trash"></i></a>
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="#" class="wrapper-link">
        <div class="card">
          <div class="card-img-top">
            <img src="/assets/images/default-product-350x350.jpg" style="width: 100%; height: 100%">
          </div>
          <div class="card-footer">
            <h4 class="card-title" style="margin: 0px">#Healthy-food1
              <a class="pull-right" href="/remove"><i class="fa fa-trash"></i></a>
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="#" class="wrapper-link">
        <div class="card">
          <div class="card-img-top">
            <img src="/assets/images/default-product-350x350.jpg" style="width: 100%; height: 100%">
          </div>
          <div class="card-footer">
            <h4 class="card-title" style="margin: 0px">#Healthy-food2
              <a class="pull-right" href="/remove"><i class="fa fa-trash"></i></a>
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="#" class="wrapper-link">
        <div class="card">
          <div class="card-img-top">
            <img src="/assets/images/default-product-350x350.jpg" style="width: 100%; height: 100%">
          </div>
          <div class="card-footer">
            <h4 class="card-title" style="margin: 0px">#Healthy-food3
              <a class="pull-right" href="/remove"><i class="fa fa-trash"></i></a>
            </h4>
          </div>
        </div>
      </a>
    </div>
  </div>-->
</div>




