<div class="p-card-container">
  <mat-card class="p-card-bg">
    <mat-card-title-group>
      <img mat-card-sm-image src="{{imageUrl}}">
      <mat-card-title class="p-card-title">{{product?.name}}</mat-card-title>
      <mat-card-subtitle>{{product?.price}} <i class="fa fa-bitcoin fa-lg"></i></mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-actions>
      <div class="action-btn-container">
        <button class="btn btn-success" (click)="onEditProduct()"><i class="fa fa-edit btn-icon"></i>Edit</button>
        <button class="btn btn-danger" (click)="deleteProduct()"><i class="fa fa-trash btn-icon"></i>Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
