.p-card-container {
  float: left;
  margin:0 10px 20px;
  width: 280px;
}

.p-card-bg {
  background-color: rgb(245, 245, 245)
}

.action-btn-container {
  text-align: center;
}

.p-card-title {
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
