<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Create machine</h1>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="col-xs-12 col-lg-12">
    <div class="card card-block card-outline-success">
      <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="form-group row">
          <label for="vm-name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="vm-name" placeholder="Name" formControlName="name">
          </div>
        </div>
        <div class="form-group row">
          <label for="vm-eris-account" class="col-sm-2 col-form-label">Eris account address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="vm-eris-account"
                   placeholder="AE123BG45676516UYIHK564561032" formControlName="erisAccount">
          </div>
        </div>
        <div class="form-group row">
          <label for="vm-rows" class="col-sm-2 col-form-label">Rows count</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="vm-rows"
                   placeholder="1" formControlName="rowsCount">
          </div>
        </div>
        <div class="form-group row">
          <label for="vm-rows-numbering" class="col-sm-2 col-form-label">Row numbering</label>
          <div class="col-sm-10">
            <select class="form-control" id="vm-rows-numbering"
                    formControlName="rowsNumbering">
              <option value="NUMERICAL">Numerical</option>
              <option value="ALPHABETICAL">Alphabetical</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="vm-columns" class="col-sm-2 col-form-label">Columns count</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="vm-columns"
                   placeholder="1" formControlName="columnsCount">
          </div>
        </div>
        <div class="form-group row">
          <label for="vm-columns-numbering" class="col-sm-2 col-form-label">Column numbering</label>
          <div class="col-sm-10">
            <select class="form-control" id="vm-columns-numbering" formControlName="columnsNumbering">
              <option value="NUMERICAL">Numerical</option>
              <option value="ALPHABETICAL">Alphabetical</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 form-buttons-container">
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-secondary" type="reset">Clean</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
