<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Edit product</h1>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid" >
  <div class="card card-block" >
    <!--<form (ngSubmit)="submit()" [formGroup]="form" enctype="multipart/form-data">-->
      <div class="row">
        <!--left column-->
        <app-product-form #productForm class="col-xl-6"></app-product-form>
        <!--right column-->
        <app-image-loader  class="col-xl-6"></app-image-loader>
        <div class="form-group row">
          <div class="col-sm-12 form-buttons-container">
            <button class="btn btn-success" [disabled]="" type="submit">Submit</button>
            <button class="btn btn-secondary" type="button" (click)="reset()">Cancel</button>
          </div>
        </div>
      </div>
    <!--</form>-->

  </div>
</div>
