.table td, th {
  text-align: center;
  cursor: pointer;
}

div.horizontal-alignment {
  select.form-control {
    width: auto;
  }
}

.horizontal-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-visibility {

}

@media (min-width: 992px) and (max-width: 1080px) {
  .col-lg-3 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1080px) {
  .col-lg-6 {
    float: left;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .vertical-align {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .vertical-align {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .vertical-align {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 568px) {
  .vertical-align {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 411px) {
  .column-visibility {
    display: none;
  }
}
